@import "tailwindcss";

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }

  body {
    @apply bg-gray-50 text-gray-900;
    overflow-x: hidden;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}